.blank		{  }

A:link		{ color:#000000; text-decoration:none; }
A:visited	{ color:#000000; text-decoration:none; }
A:active	{ color:#000000; text-decoration:none; }
A:hover		{ color:#227BB3; text-decoration:none; }

body        {font-size:10pt;font-family:verdana,sans-serif;background-color:#FFFFFF; }		

.header		{  }
.footer		{  }

hr      { color:#80A4CC; }

h1		{ color:#000000; }
h2		{ color:#000000; font-size:10pt; }
h3		{ color:#000000; }	

.usertitle	{ color:#000000; font-size:10pt; font-family:verdana,sans-serif; font-weight:bolder; }

table		{ background-color:#FFFFFF; font-size:8pt; font-weight:bold;font-family:verdana,sans-serif;}

th		{ padding:4px;color:#FFFFFF; text-align:left; background-color:#227BB3; }

th A:link	{ color:#FFFFFF; text-decoration:none; }
th A:visited	{ color:#FFFFFF; text-decoration:none; }
th A:active	{ color:#FFFFFF; text-decoration:none; }
th A:hover	{ color:#000000; text-decoration:none; }


.buttonstyle	
{
    BACKGROUND-COLOR: #227BB3;
    COLOR: white;
    FONT-FAMILY: verdana, sans-serif;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-VARIANT: small-caps;
    FONT-WEIGHT: 600
}

table.box 
{
    border-width: 1px; 
    border-style: solid;
    border-color: #227BB3;    
}

th.box
{
    background-color: #227BB3;
    padding-left: 16px; padding-right:16px;
    font-style: italic;
}

A.box:link		{ color:#FFFFFF; text-decoration:none; }
A.box:visited   { color:#FFFFFF; text-decoration:none; }
A.box:active    { color:#FFFFFF; text-decoration:none; }
A.box:hover		{ color:#000000; text-decoration:none; }


td.box
{
    padding-left: 16px; padding-right:16px;
}				

tr.hi td, td.hi 
{
    background-color: #ccc;
}



.error
{
    background-color: #FFDDDD;
}


.errorlist
{
    color: #FF0000;
}

#navigation
{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

#navigation ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 4px;    
    text-align: left;
}

#navigation li 
{
    display: inline;    
}

#navigation a:link, #navigation a:visited
{
    padding: 3px 10px 2px 10px;
    color: #FFFFFF;
    background-color: #227BB3;
    text-decoration: none;
    border: 1px solid #083d5e;
}

#navigation a:hover
{
    color: #FFFFFF;
    background-color: #083d5e;
}

