<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>TeleDrill Surface System</title>
  <link rel="stylesheet" type="text/css" href="/tdsurface/media/css/site.css">
  <script type="text/javascript" src="/tdsurface/media/scripts/xb.js"></script>
  <script type="text/javascript" src="/tdsurface/media/scripts/tablehighlight.js"></script>
{% block head %}
{% endblock head %}
</head>
<body>
    <img border="0" src="/tdsurface/media/images/logo.jpg">
    <h2>TeleDrill Surface System</h2>
    {% block subtitle %}
    {% endblock subtitle %}
    {% block navigation %}
    <ul id="navigation">
        <li><a href="/tdsurface/depth/">Home</a></li>                
        <li><a href="/admin/" target="_blank">Admin</a></li>
    </ul>
    {% endblock navigation %}
{% block body %}
{% endblock body %}
</body>
</html>
