<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>TeleDrill Surface System</title>
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/site.css">  
  <script src="{{ MEDIA_URL}}scripts/jquery/jquery.js"></script>  
  <script type="text/javascript" src="{{ MEDIA_URL }}scripts/tablehilight.js"></script>
{% block head %}
{% endblock head %}
</head>
<body>
	<table>
	    <tr>
	        <td>
	        <img border="0" width="100" height="53" src="{{ MEDIA_URL }}/images/logo.jpg">
	        </td>
	        <td>
	        <h2>Surface System</h2>
    			{% block subtitle %}
    			{% endblock subtitle %}
    		</td>
	    </tr>
	</table>
    
    
    {% block navigation %}
    <ul id="navigation">
        <li><a href="{% url home %}">Home</a></li>                
        <li><a href="/admin/" target="_blank">Admin</a></li>
    </ul>
    {% endblock navigation %}
{% block body %}
{% endblock body %}
</body>
</html>
