{% extends 'base.html' %}

{% block subtitle %}<h3>Depth</h3>{% endblock subtitle %}

{% block navigation %}
<ul id="navigation">
        <li><a href="/tdsurface/depth/">Home</a></li>
        <li><a href="/tdsurface/depth/well/">Well</a></li>
        <li><a href="/tdsurface/depth/wellbore/">Well Bore</a></li>
        <li><a href="/tdsurface/depth/rig/">Rig</a></li>
        <li><a href="/tdsurface/depth/tool/">Tool</a></li>
        <li><a href="/tdsurface/depth/run/">Run</a></li>        
        <li><a href="/admin/" target="_blank">Admin</a></li>
    </ul>
{% endblock navigation %}
