{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ MEDIA_URL}}scripts/bindows_gauges/bindows_gauges.js"></script>

<script type="text/JavaScript">



$(document).ready(im_ready);

var temperature_gauge = 0;
var azimuth_gauge = 0;
var inclination_gauge = 0;
var toolface_gauge = 0;


function sensors_callback(data, textStatus)
{
    for (var i=0; i<Math.min(5,data.azimuth.length); i++)
    {
        if(i==0)
        {
            $("#azimuth").text(data.azimuth[i].toFixed(1));
        }
        needle = 'needle' + (i + 1);        
        azimuth_gauge[needle].setValue(data.azimuth[i].toFixed(1));        
    }
    
    for (var i=0; i<Math.min(5,data.toolface.length); i++)
    {
        if(i==0)
        {
            $("#toolface").text(data.toolface[i].toFixed(1));
        }
        needle = 'needle' + (i + 1);             
        toolface_gauge[needle].setValue(data.toolface[i].toFixed(1));
    }
    
    for (var i=0; i<Math.min(5,data.inclination.length); i++)
    {
        if(i==0)
        {
            $("#inclination").text(data.inclination[i].toFixed(1));
        }
        needle = 'needle' + (i + 1);             
        inclination_gauge[needle].setValue(180.0 - data.inclination[i].toFixed(1));
    }

    if( data.temperature.length )
    {
        c = (data.temperature[0].toFixed(1) - 32) * 5/9
        temperature_gauge['needle2'].setValue(data.temperature[0].toFixed(1));
        $("#temperature_f").text(data.temperature[0].toFixed(1));

        temperature_gauge['needle1'].setValue(c.toFixed(1));
        $("#temperature_c").text(c.toFixed(1));
    }
    
    if( data.gamma.length)
    {
        html = '<table><tr><th>Time Stamp</th><th>Value</th></tr>';    
        for (var i=0; i<data.gamma.length; i++)
        {
            html += "<tr><td>" + data.gamma[i]['timestamp'] + '</td><td align="right">' + data.gamma[i]['value'] + '</td></tr>';
            
        }
        html += '</table>';
        $('#gamma_ray').html(html);
    }
    
    if(data.hole_depth.length)
    {
        html = '<table><tr><th>Time Stamp</th><th>Value</th></tr>';    
        for (var i=0; i<data.hole_depth.length; i++)
        {
            html += "<tr><td>" + data.hole_depth[i]['timestamp'] + '</td><td align="right">' + data.hole_depth[i]['value'] + '</td></tr>';
            
        }
        html += '</table>';
        $('#hole_depth').html(html);
    }
    
    if(data.bit_depth.length)
    {
        html = '<table><tr><th>Time Stamp</th><th>Value</th></tr>';    
        for (var i=0; i<data.bit_depth.length; i++)
        {
            html += "<tr><td>" + data.bit_depth[i]['timestamp'] + '</td><td align="right">' + data.bit_depth[i]['value'] + '</td></tr>';
            
        }
        html += '</table>';
        $('#bit_depth').html(html);
    }
    
    if(data.weight_on_bit.length)
    {
        html = '<table><tr><th>Time Stamp</th><th>Value</th></tr>';    
        for (var i=0; i<data.weight_on_bit.length; i++)
        {
            html += "<tr><td>" + data.weight_on_bit[i]['timestamp'] + '</td><td align="right">' + data.weight_on_bit[i]['value'] + '</td></tr>';
            
        }
        html += '</table>';
        $('#weight_on_bit').html(html);
    }

    if(data.mud_flow_in.length)
    {
        html = '<table><tr><th>Time Stamp</th><th>Value</th></tr>';    
        for (var i=0; i<data.mud_flow_in.length; i++)
        {
            html += "<tr><td>" + data.mud_flow_in[i]['timestamp'] + '</td><td align="right">' + data.mud_flow_in[i]['value'] + '</td></tr>';
            
        }
        html += '</table>';
        $('#mud_flow_in').html(html);
    }
    
    window.setTimeout(get_sensors,10000);
}
 
function get_sensors()
{
    {% if active_run %} 
    $.getJSON("{% url run_real_time_json active_run 5 %}", sensors_callback);
    {% endif %}
}

function im_ready()
{
    temperature_gauge = bindows.loadGaugeIntoDiv("{{ MEDIA_URL }}scripts/bindows_gauges/temperature_dh.xml", "temperature_gauge_div"); 
    azimuth_gauge = bindows.loadGaugeIntoDiv("{{ MEDIA_URL }}scripts/bindows_gauges/azimuth_multi.xml", "azimuth_gauge_div");
    inclination_gauge = bindows.loadGaugeIntoDiv("{{ MEDIA_URL }}scripts/bindows_gauges/inclination_multi.xml", "inclination_gauge_div");
    toolface_gauge = bindows.loadGaugeIntoDiv("{{ MEDIA_URL }}scripts/bindows_gauges/toolface_multi.xml", "toolface_gauge_div");    
    get_sensors();
}
</script>     
{% endblock head %}



{% block subtitle %}<h3>Dash Board</h3>{% endblock subtitle %}

{% block navigation %}
<ul id="navigation">
        <li><a href="{% url home %}">Home</a></li>
        <li><a href="{% url rig_list %}">Rig</a></li>
        <li><a href="{% url well_list %}">Well</a></li>
        <li><a href="{% url wellbore_list %}">Well Bore</a></li>
        <li><a href="{% url tool_list %}">Tool</a></li>
        <li><a href="{% url run_list %}">Run</a></li>        
        <li><a href="/admin/" target="_blank">Admin</a></li>
    </ul>
{% endblock navigation %}

{% block body %}

{% if active_run %}
<table border="0">
    <tr>
        <th colspan="5">Active Run Real Time Readings</th>
    </tr>
    <tr>
        <th>Temperature</th>              
        <th>Azimuth</th>
        <th>Inclination</th>
        <th>Tool Face</th>        
    </tr>    
    <tr>
        <td align="center"><span id="temperature_c"></span>C&deg;  <span id="temperature_f"></span>F&deg;</td>
        <td align="center"><span id="azimuth"></span>&deg;</td>
        <td align="center"><span id="inclination"></span>&deg; </td>
        <td align="center"><span id="toolface"></span>&deg; </td>
             
    </tr>    
    <tr>
        <td><div id="temperature_gauge_div" style="width: 175px; height: 175px"></div></td>
        <td><div id="azimuth_gauge_div" style="width: 175px; height: 175px"></div></td>
        <td><div id="inclination_gauge_div" style="width: 175px; height: 175px"></div></td>
        <td><div id="toolface_gauge_div" style="width: 175px; height: 175px"></div></td>        
    </tr>    
    <tr>
        <th>Hole Depth</th>
        <th>Bit Depth</th>
        <th>Weight-on-Bit</th>
        <th>Mud Flow In</th>        
    </tr>
    <tr>
        <td id="hole_depth"></td>
        <td id="bit_depth"></td>        
        <td id="weight_on_bit"></td>
        <td id="mud_flow_in"></td>
        
    </tr>
    <tr>
        <th>Gamma Ray</th>
    </tr>
    <tr>
        <td id="gamma_ray"></td>
    </tr>
    
</table>
{% endif %}
{% endblock body %}
