{% extends 'base.html' %}

{% block subtitle %}<h3>Depth</h3>{% endblock subtitle %}

{% block navigation %}
<ul id="navigation">
        <li><a href="{% url home %}">Home</a></li>
        <li><a href="{% url rig_list %}">Rig</a></li>
        <li><a href="{% url well_list %}">Well</a></li>
        <li><a href="{% url wellbore_list %}">Well Bore</a></li>
        <li><a href="{% url tool_list %}">Tool</a></li>
        <li><a href="{% url run_list %}">Run</a></li>        
        <li><a href="/admin/" target="_blank">Admin</a></li>
    </ul>
{% endblock navigation %}
