{% extends 'base.html' %}

{% block navigation %}
{% include navigation_template %}
{% endblock navigation %}

{% block subtitle %}<h3>{{ subtitle }}</h3>{% endblock subtitle %}

{% block body %}
{% load utc2tz %}

<table class="hilightrow">
    <tr>
        <th>Run</th><td>{{ object.name }} </td>
    </tr>
    <tr>
        <th>Start Time</th><td>{{ object.start_time|utc2tz:object.well_bore.well.timezone }} </td>
    </tr>
    <tr>
        <th>End Time</th><td>{{ object.end_time|utc2tz:object.well_bore.well.timezone }} </td>
    </tr>
    <tr>
        <th>Well</th><td>{{ object.well_bore.well }} </td>
    </tr>
    <tr>
        <th>Bore</th><td>{{ object.well_bore }}</td>
    </tr>
    <tr>
        <th>Active (RTD)</th>
        <td>
            {% ifequal active_run object.pk %}<img src="{{ MEDIA_URL }}/images/action_check.png" alt="Active">{% endifequal %}
            {% ifnotequal active_run object.pk %}
                <a href="{% url run_activate object.pk %}"><button>Activate</button></a>
            {% endifnotequal %}
        </td>
    </tr>
    <tr>
        <th>Log Count</th><td><span id="log_cnt">{{ object.toolmwdlog_set.count }}</span></td>
    </tr>
    
</table>

{% endblock body %}
