{% extends 'mainmenu.html' %}

{% block head %}
<script type="text/JavaScript">

function cancel_click()
{
    $.get("{% url run_download_cancel %}");
    $(this).attr("disabled","disabled");
}

function download_click()
{    
    $(this).attr("disabled","disabled");
    $("#run_download_cancel").removeAttr("disabled");
    window.setTimeout(status,1000);
    $("#run_download_satus").html("Starting Download...");
    $.get("{% url run_download_log object.pk %}");
    $(this).unbind('click', download_click);
    $(this).bind('click', cancel_click);
}

function install_events()
{
    $("#run_download_log").click(download_click);
    $("#run_download_cancel").click(cancel_click);
}

$(document).ready(install_events);
 
function status_callback(data, textStatus)
{
    $("#run_download_status").html(data);    
    if(!data.match("Complete"))
    {
        window.setTimeout(status,2000);
    }
}
 
function status()
{
   $.get("{% url run_download_status %}", status_callback);
}
</script>     
{% endblock head %}

{% block navigation %}
{% include navigation_template %}
{% endblock navigation %}

{% block subtitle %}<h3>{{ subtitle }}</h3>{% endblock subtitle %}

{% block body %}

<table class="hilightrow">
    <tr>
        <th>Run</th><td>{{ object.name }} </td>
    </tr>
    <tr>
        <th>Start Time</th><td>{{ object.start_time}} </td>
    </tr>
    <tr>
        <th>End Time</th><td>{{ object.end_time }} </td>
    </tr>
    <tr>
        <th>Well</th><td>{{ object.well_bore.well }} </td>
    </tr>
    <tr>
        <th>Bore</th><td>{{ object.well_bore }} </td>
    </tr>
        <th>Active (RTD)</th>
        <td>
            {% ifequal active_run object.pk %}<img src="{{ MEDIA_URL }}/images/action_check.png" alt="Active">{% endifequal %}
            {% ifnotequal active_run object.pk %}
                <a href="{% url run_activate object.pk %}"><button>Activate</button></a>
            {% endifnotequal %}
        </td>
    </tr>
    
</table>

<button id="run_download_log">Download Log</button>&nbsp;&nbsp;&nbsp;<button id="run_download_cancel" disabled="disabled">Cancel Download</button>


<div id="run_download_status"></div>

{% endblock body %}