{% extends 'base.html' %}

{% block head %}
    <link href="{{ MEDIA_URL }}/css/forms.css" type="text/css" media="all" rel="stylesheet" />
    <script src="{{ MEDIA_URL}}scripts/jquery.color.js"></script>
    {{ form.media }}
    
    
<script type="text/JavaScript">

var pattern_time = new Array(21,28,28,28,28,35,35,56,56,28,28,28,28,21,21,42,42,21,21,28,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,60,60);

var seq_time_prev = Array(3);

function clear_unused_patterns()
{
    for(var seq=0;seq<3;seq=seq+1)
    {
        var seq_time=0;
        for(var pat=0;pat<20;pat=pat+1)
        {
            var pat_id = '#ppp_seq'+seq+'_pat'+pat;
            var cnt_id = '#ppp_seq'+seq+'_cnt'+pat;
            
            var pat_val = $(pat_id).val()*1;
            var cnt_val = $(cnt_id).val()*1;
                        
            if(cnt_val == 0  && cnt_val != 65535)
            {
                $(pat_id).val("65535");
            }            
        }
    }

    for(var sp = 0; sp < 10; sp = sp + 1)
    {
        seq_id = '#ppsp_seq' + sp;
        min_id = '#ppsp_min' + sp;
        sec_id = '#ppsp_sec' + sp;

        var sec = $(sec_id).val() * 1;
        var min = $(min_id).val() * 1;

        seq = $(seq_id).val() * 1;

        if( sec+min==0 && seq != 65535)
        {
            $(seq_id).val('65536');
        }
    }
}

function update_sequence_time()
{    
    for(var seq=0;seq<3;seq=seq+1)
    {
        var seq_time=0;
        for(var pat=0;pat<20;pat=pat+1)
        {
            var pat_id = '#ppp_seq'+seq+'_pat'+pat;
            var cnt_id = '#ppp_seq'+seq+'_cnt'+pat;
            
            var pat_val = $(pat_id).val()*1;
            var cnt_val = $(cnt_id).val()*1;
            
            if(pat_val==65535)
            {
                break;
            }
            
            if(pat_val < pattern_time.length)
            {
                seq_time = seq_time + (pattern_time[pat_val] * cnt_val);                
            }            
        }
        var seq_time_id = '#ppp_seq'+seq+'_time';
                
        var min = Math.floor(seq_time/60)
        var sec = seq_time%60
        if(sec<10)
        {
            sec = '0'+sec;            
        }
        $(seq_time_id).html(min+':'+sec);
        if(seq_time != seq_time_prev[seq])
        {
            if(!isNaN(seq_time_prev[seq]))
            {
                $(seq_time_id).css('color', "red");
                $(seq_time_id).animate({color: "white"},'slow');
            }
            seq_time_prev[seq] = seq_time;
        }
    }
}

function ppp_change(eventObject)
{    
    update_sequence_time();    
    $("#submit_button").removeAttr("disabled");
}

function ppsp_change(eventObject)
{    
    $("#submit_button").removeAttr("disabled");    
}

function adv_seq_display(show)
{
    if(show)
    {
        $(".seq1class").show();
        $(".seq2class").show();
        $(".seqpatclass").show();
    }
    else
    {
        $(".seqpatclass").hide();
        $(".seq2class").hide();
        $(".seq1class").hide();
    }
    
}

function adv_seq_change(eventObject)
{
    $("#submit_button").removeAttr("disabled");    
    adv_seq_display($(this).attr("checked"));
}

function submit_form(eventObject)
{
    $('#ppp_form').submit();
    $(this).html('Please Wait');
    $(this).attr("disabled","disabled");
}
function ready()
{
    $('#submit_button').click(submit_form);
    $('#scp_adv_seq').change(adv_seq_change);
    adv_seq_display($('#scp_adv_seq').attr('checked'));
    update_sequence_time();
    $('.pattern_field').change(ppp_change);
    $('.count_field').change(ppp_change);
    $('.ppsp_seq_field').change(ppsp_change);
    $('.ppsp_time_field').change(ppsp_change);
    $('#clear_button').click(clear_unused_patterns);
}

$(document).ready(ready);
 
</script>     
    
{% endblock head %}

{% block navigation %}
{% include 'tool_config_menu.html' %}
{% endblock navigation %}

{% block subtitle %}<h3>Pulse Pattern Profile - {{ object }}</h3>{% endblock subtitle %}

{% block body %}

{% load rpnmath %}

<form id="ppp_form" action="#" method="post">

<table>
    <tr>
        <th>Advanced Sequence Patterns</th>
        <td><input type="hidden" name="scp_adv_seq_cur" value="{{ scp.advanced_sequence_pattern }}" >
            <input type="checkbox" id="scp_adv_seq" name="scp_adv_seq" {% if scp.advanced_sequence_pattern %}checked="checked"{% endif %} ></td>
    </tr>
</table>
    
<table>
    
    <tr>
    {% for s in ppp %}        
        <th class="seq{{forloop.counter0}}class"><div style="float:right;">length (m:s) <span id="ppp_seq{{ forloop.counter0 }}_time"></span></div>Sequence {{ forloop.counter }} 
        </th>
    {% endfor %}
    <th class="seqpatclass">Sequence Pattern</th>
    </tr>
    
    <tr>
    {% for s in ppp %}
        <td>
            <div class="seq{{forloop.counter0}}class">
            <table>
                <tr>    
                    <th>
                        Data Frame
                    </th>
                    <th>
                        Count
                    </th>                
                </tr>
                {% for p in s %}                
                <tr>
                    <td>
                        <input type="hidden" name="ppp_seq{{forloop.parentloop.counter0}}_pat{{forloop.counter0}}_cur" value="{{ p.0 }}">
                        <select class="pattern_field" id="ppp_seq{{forloop.parentloop.counter0}}_pat{{forloop.counter0}}" name="ppp_seq{{forloop.parentloop.counter0}}_pat{{forloop.counter0}}">
                            <option value="65535" {% ifequal p.0 65535 %}selected="selected"{% endifequal %} > </option> 
                            <option value="0" {% ifequal p.0 0 %}selected="selected"{% endifequal %} >tool status</option>
                            <option value="1" {% ifequal p.0 1 %}selected="selected"{% endifequal %} >azimuth</option>
                            <option value="2" {% ifequal p.0 2 %}selected="selected"{% endifequal %} >inclination</option>
                            <option value="3" {% ifequal p.0 3 %}selected="selected"{% endifequal %} >G</option>
                            <option value="4" {% ifequal p.0 4 %}selected="selected"{% endifequal %} >H</option>
                            <option value="5" {% ifequal p.0 5 %}selected="selected"{% endifequal %} >Gz</option>
                            <option value="6" {% ifequal p.0 6 %}selected="selected"{% endifequal %} >Hz</option>
                            <option value="7" {% ifequal p.0 7 %}selected="selected"{% endifequal %} >high res Gx Gy</option>
                            <option value="8" {% ifequal p.0 8 %}selected="selected"{% endifequal %} >high res Hx Hy</option>
                            <option value="9" {% ifequal p.0 9 %}selected="selected"{% endifequal %} >temperature</option>
                            <option value="10" {% ifequal p.0 10 %}selected="selected"{% endifequal %} >Presure</option>
                            
                            <option value="11" {% ifequal p.0 11 %}selected="selected"{% endifequal %} >high res tool face</option>
                            <option value="12" {% ifequal p.0 12 %}selected="selected"{% endifequal %} >high res gamma</option>
                            <option value="13" {% ifequal p.0 13 %}selected="selected"{% endifequal %} >low res G</option>
                            <option value="14" {% ifequal p.0 14 %}selected="selected"{% endifequal %} >low res H</option>
                            
                            <option value="15" {% ifequal p.0 15 %}selected="selected"{% endifequal %} >low res Gx Gy</option>
                            <option value="16" {% ifequal p.0 16 %}selected="selected"{% endifequal %} >low res Hx Hy</option>
                            <option value="17" {% ifequal p.0 17 %}selected="selected"{% endifequal %} >low res tool face</option>
                            <option value="18" {% ifequal p.0 18 %}selected="selected"{% endifequal %} >low res gamma</option>
                            <option value="19" {% ifequal p.0 19 %}selected="selected"{% endifequal %} >low res tool face gamma</option>
                            <option value="41" {% ifequal p.0 41 %}selected="selected"{% endifequal %} >pulse cnt inclination</option>                        
                            <option value="42" {% ifequal p.0 42 %}selected="selected"{% endifequal %} >pulse freq inclination</option>
                        </select>
                        
                    </td>
                    <td align="right">
                        <input type="hidden" name="ppp_seq{{forloop.parentloop.counter0}}_cnt{{forloop.counter0}}_cur" value="{{ p.1 }}">
                        <input type="text" size="1" class="count_field" id="ppp_seq{{forloop.parentloop.counter0}}_cnt{{forloop.counter0}}" name="ppp_seq{{forloop.parentloop.counter0}}_cnt{{forloop.counter0}}" value="{{ p.1 }}">
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </td>
    {% endfor %}
        <td valign="top">
            <table class="seqpatclass">
                <tr>
                    <th>Sequence</th>
                    <th>Length (m:s)</th>
                </tr>
                {% for p in ppsp %}
                    <tr>
                        <td>
                            <input type="hidden" name="ppsp_seq{{ forloop.counter0 }}_cur" value="{{ p.0 }}">
                            <select class="ppsp_seq_field" id="ppsp_seq{{ forloop.counter0 }}" name="ppsp_seq{{ forloop.counter0 }}">
                                <option value="65535" {% ifequal p.0 65535 %}selected="selected"{% endifequal %} > </option>                        
                                <option value="0" {% ifequal p.0 0 %}selected="selected"{% endifequal %} >1</option>
                                <option value="1" {% ifequal p.0 1 %}selected="selected"{% endifequal %} >2</option>
                                <option value="2" {% ifequal p.0 2 %}selected="selected"{% endifequal %} >3</option>                                                                
                            </select>
                        </td>
                        <td align="right">
                            <input type="hidden" name="ppsp_time{{ forloop.counter0 }}_cur" value="{{ p.1 }}" >
                            <input size="1" class="ppsp_time_field" id="ppsp_min{{ forloop.counter0 }}" name="ppsp_min{{ forloop.counter0 }}" value="{{ "rpn"|stnew|stpush:p.1|stpush:"60000"|stdiv|stfloor|stget }}"> :
                            <input size="1" class="ppsp_time_field" id="ppsp_sec{{ forloop.counter0 }}" name="ppsp_sec{{ forloop.counter0 }}" value="{{ "rpn"|stnew|stpush:p.1|stpush:"60000"|stmod|stpush:1000|stdiv|stfloor|stget }}">
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>    
</table>
    <br>
    <button id="submit_button" disabled="disabled" >Save To Tool</button>
</form>

<br>
<br>
<br>
<button id="clear_button">Clear Unused Patterns</button>

{% endblock body %}
