{% extends 'base.html' %}

{% block head %}
    
{% endblock head %}

{% block navigation %}
{% include navigation_template %}
{% endblock navigation %}

{% block subtitle %}<h3>{{ object }}</h3>{% endblock subtitle %}

{% block body %}
<table>
    <tr>
        <th>Tool Name
        </th>
        <td>{{ object }}</td>        
    </tr>
    <tr>
        <th>Serial Number</th>
        <td>{{ object.serial_number }}</td>
    </tr>
    <tr>
        <th>Tool Type</th>
        <td>{{ object.type }}</td>
    </tr>
</table>


{% endblock body %}
