{% extends 'base.html' %}

{% block head %}
    <link href="{{ MEDIA_URL }}/css/forms.css" type="text/css" media="all" rel="stylesheet" />
    {{ form.media }}
{% endblock head %}

{% block navigation %}
{% include 'tool_menu.html' %}
{% endblock navigation %}

{% block subtitle %}<h3>Tool Status - {{ object }}</h3>{% endblock subtitle %}

{% block body %}

{% load rpnmath %}
{% load leading_zeros %}

<table class="hilightrow">
    
    <tr>
        <th colspan="2">Tool Serial Number</th><td align="right">{{ calibration.1 }}</td>
    </tr>
    <tr>
        <th colspan="2">Tool Timer (h:m:s)</th><td align="right">{{ "rpn"|stnew|stpush:tool_timer|stpush:"3600"|stdiv|stfloor|stget }}:{{ "rpn"|stnew|stpush:tool_timer|stpush:"3600"|stmod|stpush:"60"|stdiv|stfloor|stget|leading_zeros:2 }}:{{ "rpn"|stnew|stpush:tool_timer|stpush:3600|stmod|stpush:60|stmod|stget|leading_zeros:2 }}</td>
    </tr>
    <tr>
        <th colspan="2">Bytes In MWD Log</th><td align="right">{{ bytes_in_log }} b</td>
    </tr>
    <tr>
        <th colspan="2">Logging Interval (ms)</th><td align="right">{{ logging_interval }}</td>
    </tr>
    <tr>
        <th colspan="2">Gamma Ray Logs per Interval</th><td align="right">{{ scp.gammaray_log_size }}</td>
    </tr>   
    <tr>
        <th rowspan="3">Flags</th><th>Advanced Sequence Pattern</th><td align="right">{% ifequal scp.advanced_squence_pattern 1 %}<span style="color: darkgreen;">On</span>{% endifequal %}{% ifnotequal scp.advanced_squence_pattern 1 %}<span style="color: darkred;">Off</span>{% endifnotequal %}</td>        
    </tr>
    <tr>
        <th>Tool Face Zeroed</th><td align="right">{% ifequal scp.tool_face_zeroing 1 %}<span style="color: darkgreen;">Yes</span>{% endifequal %}{% ifnotequal scp.tool_face_zeroing 1 %}<span style="color: darkred;">No</span>{% endifnotequal %}</td>        
    </tr>
    <tr>
        <th>Rotation Sensing</th><td align="right">{% ifequal scp.rotation_sensing 1 %}<span style="color: darkgreen;">On</span>{% endifequal %}{% ifnotequal scp.rotation_sensing 1 %}<span style="color: darkred;">Off</span>{% endifnotequal %}</td>        
    </tr>    
    <tr>
        <th rowspan="7">Current Sensor Readings</th>
        
        <th>Temperature</th><td align="right">{{ sensor.temperature|floatformat }}&deg;F</td>
    </tr>
    <tr>
        <th>Azimuth</th><td align="right">{{ sensor.azimuth|floatformat }}&deg; </td>
    </tr>
    <tr>
        <th>Inclination</th><td align="right">{{ sensor.inclination|floatformat }}&deg; </td>
    </tr>
    <tr>
        <th>Gravity</th><td align="right">{{ sensor.gravity|floatformat }} </td>
    </tr>
    <tr>
        <th>Magnetometer</th><td align="right">{{ sensor.magnetic|floatformat }} </td>
    </tr>
    <tr>
        <th>Gamma Ray</th><td align="right">{{ sensor.gamma_ray|floatformat }} </td>
    </tr>
    <tr>
        <th>Tool Face</th><td align="right">{{ sensor.tool_face|floatformat }}&deg; </td>
    </tr>        
</table>


{% endblock body %}
