{% extends 'base.html' %}

{% block head %}
    
{% endblock head %}

{% block navigation %}
{% include navigation_template %}
{% endblock navigation %}

{% block subtitle %}<h3>{{ object }}</h3>{% endblock subtitle %}

{% block body %}
{% load utc2tz %}
<table>
    <tr>
        <th>Tool Name
        </th>
        <td>{{ object }}</td>        
    </tr>
    <tr>
        <th>Serial Number</th>
        <td>{{ object.serial_number }}</td>
    </tr>
    <tr>
        <th>Tool Type</th>
        <td>{{ object.type }}</td>
    </tr>
</table>
<br>
<br>
{% if object.toolnotes_set.all %}
<table>
    <tr>
        <th colspan="2">Tool Notes</th>
    </tr>
    <tr>
        <th>Time Stamp (UTC)</th>
        <th>Notes</th>
    </tr>
    {% for n in object.toolnotes_set.all %}
    <tr>
        <td>
        {{ n.time_stamp }}
        </td>
        <td>{{ n.notes }}</td>
    </tr>

    {% endfor %}
</table>
{% endif %}

{% endblock body %}
