{% extends 'base.html' %}

{% block head %}
    <link href="{{ MEDIA_URL }}/css/forms.css" type="text/css" media="all" rel="stylesheet" />
    {{ form.media }}
    
<script type="text/JavaScript">

function purge_click()
{
    var rc = confirm("Are you sure you want to totally erase the logs on the tool?");
    if(rc==true)
    {
        location='{% url tool_purge_log object.pk %}';
    }
    else
    {
        alert("Log Purge Canceled");
    }
}

function reset_timer_click()
{
    var rc = confirm("Are you sure you want to reset the timer on the tool?");
    if(rc==true)
    {
        location='{% url tool_reset_timer object.pk %}';
    }
    else
    {
        alert("Timer Reset Canceled");    
    }
}

function install_events()
{
    $("#purge_log_button").click(purge_click);
    $("#reset_timer_button").click(reset_timer_click);
}

$(document).ready(install_events);
 
</script>    
        
{% endblock head %}

{% block navigation %}
{% include navigation_template %}
{% endblock navigation %}

{% block subtitle %}<h3>Tool Configuration - {{ object }}</h3>{% endblock subtitle %}

{% block body %}
<ul style="list-style: none; margin-left: 0; padding-left:0;">
    <li style="padding-bottom: 10px;"><button onclick="location='{% url tool_pullcal object.pk %}';">Store Calibration Constants</button></li>
    <li style="padding-bottom: 10px;"><button onclick="location='{% url tool_calibration_update object.pk %}';">Update Calibration Constants</button></li>
    <li style="padding-bottom: 10px;"><button id="reset_timer_button">Reset Tool Timer</button></li>
    <li style="padding-bottom: 10px;"><button id="purge_log_button">Purge Tool MWD Log</button></li>
    <li style="padding-bottom: 10px;"><button onclick="location='{% url tool_pulse_pattern_profile object.pk %}';">Pulse Pattern Profile</button></li>
</ul>

<form action="." method="POST">
{{ form.as_p }}
<input type="submit" value="Save Configuration">
</form>


{% endblock body %}
