{% extends 'mainmenu.html' %}

{% block head %}
    <link href="{{ MEDIA_URL }}/css/forms.css" type="text/css" media="all" rel="stylesheet" />
    {{ form.media }}
{% endblock head %}

{% block navigation %}
{% include 'tool_menu.html' %}
{% endblock navigation %}

{% block subtitle %}<h3>Tool Status - {{ object }}</h3>{% endblock subtitle %}

{% block body %}

{% load rpnmath %}
{% load leading_zeros %}

<table class="hilightrow">
    
    <tr>
        <th colspan="2">Tool Timer (h:m:s)</th><td>{{ "rpn"|stnew|stpush:tool_timer|stpush:"3600"|stdiv|stfloor|stget }}:{{ "rpn"|stnew|stpush:tool_timer|stpush:"3600"|stmod|stpush:"60"|stdiv|stfloor|stget|leading_zeros:2 }}:{{ "rpn"|stnew|stpush:tool_timer|stpush:3600|stmod|stpush:60|stmod|stget|leading_zeros:2 }}</td>
    </tr>
    <tr>
        <th colspan="2">Bytes In MWD Log</th><td>{{ bytes_in_log }}</td>
    </tr>
    <tr>
        <th rowspan="3">Flags</th><th>Advanced Sequence Pattern</th><td>{% ifequal scp.3 1 %}<span style="color: darkgreen;">On</span>{% endifequal %}{% ifnotequal scp.3 1 %}<span style="color: darkred;">Off</span>{% endifnotequal %}</td>        
    </tr>    
    <tr>
        <th>Tool Face Zeroing</th><td>{% ifequal scp.4 1 %}On{% endifequal %}{% ifnotequal scp.4 1 %}Off{% endifnotequal %}</td>        
    </tr>
    <tr>
        <th>Rotation Sensing</th><td>{% ifequal scp.5 1 %}On{% endifequal %}{% ifnotequal scp.5 1 %}Off{% endifnotequal %}</td>        
    </tr>
    <tr>
        <th rowspan="7">Current Sensor Readings</th>
        
        <th>Temperature</th><td>{{ sensor.temperature }} F</td>
    </tr>
    <tr>
        <th>Azimuth</th><td>{{ sensor.azimuth }} </td>
    </tr>
    <tr>
        <th>Inclination</th><td>{{ sensor.inclination }} </td>
    </tr>
    <tr>
        <th>Gravity</th><td>{{ sensor.gravity }} </td>
    </tr>
    <tr>
        <th>Magnetometer</th><td>{{ sensor.magnetic }} </td>
    </tr>
    <tr>
        <th>Gamma Ray</th><td>{{ sensor.gamma_ray }} </td>
    </tr>
    <tr>
        <th>Tool Face</th><td>{{ sensor.tool_face }} </td>
    </tr>
    <tr>
        <th rowspan="4">Calibration Constants</th>
        
        <th>ID</th><td>{{ calibration.0 }} {{calibration.1}}</td>
    </tr>
    <tr>
        <th>Accelerometer</th><td>{{ calibration.2 }} {{ calibration.3 }} {{ calibration.4 }} {{ calibration.5 }} {{ calibration.6 }} {{ calibration.7 }} </td>
    </tr>
    <tr>
        <th>Magnetometer</th><td>{{ calibration.8 }} {{ calibration.9 }} {{ calibration.10 }} {{ calibration.11 }} {{ calibration.12 }} {{ calibration.13 }} </td>
    </tr>
    <tr>
       <th>Temperature</th><td>{{ calibration.14 }} {{ calibration.15 }} </td>
    </tr>
</table>


{% endblock body %}