
<ul id="navigation">
    <li><a href="{% url home %}">Home</a></li>
    <li><a href="{% url tool_list %}">Tool List</a></li>
    <li><a href="{% url tool_detail object.pk %}">Tool Information</a></li>
    <li><a href="{% url tool_config object.pk %}">Configure</a></li>
    <li><a href="{% url tool_general_config object.pk %}">General Config</a></li>
    <li><a href="{% url tool_motor_config object.pk %}">Motor Config</a></li>
    <li><a href="{% url tool_pulse_pattern_profile object.pk %}">Pulse Pattern Profile</a></li>
</ul>
