{% extends 'mainmenu.html' %}

{% block head %}
    
{% endblock head %}

{% block navigation %}
{% include navigation_template %}
{% endblock navigation %}

{% block subtitle %}<h3>{{ subtitle }}</h3>{% endblock subtitle %}

{% block body %}

<table class="hilightrow">
    <tr>
        <th colspan="5" style="text-align: right;">
            <div style="float: left;">Records {{ num_skip }} - {{ num_skip|add:num_latest }}</div>
            <a href="{% url run_wits0_latest run.pk num_latest %}">Latest</a>
            <a href="{% url run_wits0_latest run.pk 10 %}">10</a>
            <a href="{% url run_wits0_latest run.pk 100 %}">100</a>
            <a href="{% url run_wits0_latest run.pk 1000 %}">1000</a>
            {% if num_skip %}
            <a href="{% url run_wits0_latest run.pk num_latest %}{{ num_skip|add:neg_num_latest }}">&lt;&lt;</a>
            {% endif %}
            <a href="{% url run_wits0_latest run.pk num_latest %}{{ num_skip|add:num_latest }}">&gt;&gt;</a>
        </th>
    </tr>
    <tr>
        <th>Time Stamp</th>
        <th>Record ID</th>
        <th>Item ID</th>
        <th>Description</th>
        <th>Value</th>        
    </tr>
    
{% for wit in wits %}    
    <tr>
        <td>{{ wit.time_stamp }} </td>
        <td align="right">{{ wit.recid}} </td>
        <td align="right">{{ wit.itemid }} </td>
        <td>{{ wit.description|default:"Unknown" }} </td>
        <td align="right">{{ wit.value }} </td>        
    </tr>
{% endfor %}                
</table>


{% endblock body %}